body{
    display: flex;
    justify-content: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	;
    letter-spacing: -1px;

}

section {
    width: 60%;
}

/* isso aqui nao devia ser pra todas as divs?  */
.container__userinfo {     
    border: 1px gray solid;
    padding: 15px;
    border-radius: 6px;
    font-size: 0.8em;
    font-weight: 500; /*pode ser removido*/
}


.container__userinfo .forminfo {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input, textarea {
    width: 80%;
    border-radius: 0.25em;
    border: 1px gray solid;
    padding: 0.5em;   
}

#forminfo__textarea {
    overflow: auto;
    max-width: 80%;
    height: 4rem;
    max-height: 4rem;
    padding-right: 2rem;
    overflow-y: hidden; 
}

li {
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-bottom: 1em;
}

.forminfo__btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    height: 2rem;
}

button{
    border: 1px gray solid;
    border-radius: 6px;
    margin-left: 8px;
    color: white;
    background-color: #27A746;
}

.btncleancolor {
    background-color: #6C757D;
}

.newDiv__content{
    border-radius: 0.25em;
    border: 1px gray solid;
    margin-bottom: 0.8rem;
    padding: 0.5rem;
    font-size: 0.8rem;
}

h4 {
    margin: 0;
    padding:0;
    font-weight:normal;
    color: #A5B6FE;
    font-size: 0.9rem;
}



